<!DOCTYPE html>
<html lang="fr">
{% load static %}

<head>
  <meta charset="utf-8">

  <meta name="description" content="Projet 13 Openclassrooms">
  <meta name="author" content="Carole Sartori">
  <title>OC Projet 13</title>

  <!-- CDN Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!-- CDN FontAwesome -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">

  <!-- Import css file -->
  <link rel="stylesheet" href="{% static 'dietetic/css/style.css' %}">

  <!-- Favicon logo -->
  <link rel="icon" type="icon/jpg" href="{% static 'dietetic/img/slim.jpg' %}"/>
</head>

<body>
    <div class="container-fluid">

        <header>
      	    <div class="row">
       		    <div class="col-lg-12" id="header">
          			    <nav class="row">
                            <div class="col-lg-offset-9 col-lg-3" id="login_nav">
                                <div class="tabs_html">
                                    <div class="tabs">
                                        {% if create_account == "True" %}
                                            {% include 'account/create_account.html' %}
                                        {% else %}
                                            {% include 'account/login.html' %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
			            </nav>
                </div>
	        </div>
        </header>

        <nav>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="button_nav">
                        <a id="home" class="btn col-lg-offset-4 col-lg-1" href="{% url 'index' %}"><i class="fas fa-home"></i></br>Accueil</a>
                        <a id="user" class="btn col-lg-1" href="{% url 'account:my_account' %}"><i class="fas fa-user"></i></br>Mon Compte</a>
                        <a id="clipboard" class="btn col-lg-1" href="{% url 'dietetic:dietetic_space' %}"><i class="fas fa-clipboard"></i></br>Mon suivi</a>
                        <a id="poll" class="btn col-lg-1" href="{% url 'dietetic:my_results' %}"><i class="fas fa-poll"></i></br>Mes résultats</a>
                    </div>
                </div>
            </div>
        </nav>

        <section>
            <div class="row">
                <div class="col-lg-12" id="informations">
                    {% block informations %}
                    {% endblock %}
                </div>
            </div>
        </section>

        <footer>
            <div class="row" id="footer">
                <div class="col-lg-12">Pied de page</div>
            </div>
        </footer>

    </div>

  <!-- CDN Jquery -->
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'dietetic/js/script.js' %}"></script>
</body>

</html>