{% extends 'dietetic/base.html' %}


{% block informations %}
<div class="row">
    <div id="discussion_space" class="col-lg-offset-2 col-lg-4">
        {% if robot_answer %}
            <p id="robot_answer">{{robot_answer}}</p>
        {% endif %}
        {% if robot_comment %}
            <p id="robot_comment">{{robot_comment}}</p>
        {% endif %}
        {% if question %}
            <p id="robot_question" class="bold">{{question}}</p>
            <form action="{% url 'dietetic:dietetic_space' %}" method="post">{% csrf_token %}
                <input type="hidden" name="question" value="{{ question }}" />
                {% for answer in answers %}
                    <a><input id="{{answer}}" type="radio" name="answer" value="{{answer}}" required/>&nbsp;&nbsp;&nbsp;{{answer}}</a></br></br>
                {% endfor %}
                <input id="validate_button" type="submit" value="Valider"/></br></br>
            </form>
        {% endif %}
        {% if dict_questions %}
            <form class="center" action="{% url 'dietetic:dietetic_space' %}" method="post">{% csrf_token %}
                {% if error_message %}
                    <p class="bold red">{{error_message}}</p>
                {% else %}
                    <p id="goal_weight_text" class="bold">{{goal_weight_text}}</p>
                {% endif %}
                {% for question_type, question in dict_questions.items %}
                    {% if question_type == "height" %}
                        <a id="question_height">{{question}}</a></br><input class="input_number col-lg-3" type="number" step="0.01" min="1.50" max="2.30" id="{{question_type}}" name="{{question_type}}" required/></br></br>
                    {% else %}
                        <a id="question_{{question_type}}">{{question}}</a></br><input class="input_number col-lg-3" type="number" step="0.1" min="35" max="200" id="{{question_type}}" name="{{question_type}}" required/></br></br>
                    {% endif %}
                {% endfor %}
                </br><input id="validate_goal" class="col-lg-3" type="submit" value="Valider"/></br></br>
            </form>
        {% endif %}
        {% if robot_weekly_weight %}
            <form class="center" action="{% url 'dietetic:dietetic_space' %}" method="post">{% csrf_token %}
                <input id="weekly_weight" class="input_number col-lg-3" type="number" step="0.1" min="35" max="200" name="weekly_weight" required/></br></br>
                </br><input id="validate_weekly_weight" class="col-lg-3" type="submit" value="Valider"/></br></br>
            </form>
        {% endif %}
    </div>
    {% if advice %}
    <div id="card" class="col-lg-offset-2 col-lg-2">
        <p id="dietetic_text">{{advice}}</p>
    </div>
    {% endif %}
</div>
{% endblock %}
