{% extends 'dietetic/base.html' %}


{% block informations %}
<div class="row">
    <div id="discussion_space" class="col-lg-offset-2 col-lg-4">
        {% if robot_answer %}
            <a>{{robot_answer}}</a></br></br>
        {% endif %}
        {% if question %}
            <a class="bold">{{question}}</a></br></br>
            <form action="{% url 'dietetic:dietetic_space' %}" method="post">{% csrf_token %}
                <input type="hidden" name="question" value="{{ question }}" />
                {% for answer in answers %}
                    <a><input type="radio" name="answer" value="{{answer}}" required/>&nbsp;&nbsp;&nbsp;{{answer}}</a></br></br>
                {% endfor %}
                </br><input type="submit" value="Valider"/></br></br>
            </form>
        {% endif %}
        {% if dict_questions %}
            <form action="{% url 'dietetic:dietetic_space' %}" method="post">{% csrf_token %}
                {% for question_type, question in dict_questions.items %}
                    {% if question_type == "height" %}
                        <a class="bold">{{question}}</a></br><input type="number" step="0.01" min="1.50" max="2.30" name="{{question_type}}" required/></br></br>
                    {% else %}
                        <a class="bold">{{question}}</a></br><input type="number" step="0.1" min="35" max="200" name="{{question_type}}" required/></br></br>
                    {% endif %}
                {% endfor %}
                </br><input type="submit" value="Valider"/>
            </form>
        {% endif %}
    </div>
    <div id="card" class="col-lg-offset-2 col-lg-2">
        <div id="dietetic_text"> Mon challenge ici </div>
    </div>
</div>
{% endblock %}
