{% extends 'dietetic/base.html' %}
{% load static %}


{% block informations %}

<!-- Text of the home page -->
<div class="row">
    <div class="step_home">
        <div class="image_step_home">
            <img src="{% static 'dietetic/img/start_logo.png' %}" alt="start logo"/>
        </div>
        <a class="first_step_text">
            Tu es en quête de perte de poids... et tu as déjà des connaissances sur le sujet ?
            </br>Si tu trouves que la mise en pratique n'est pas évidente,
            </br>My Dietetic Challenge est fait pour toi !
        </a>
    </div>

    <div class="step_home">
        <div class="image_step_home">
            <img src="{% static 'dietetic/img/questionnaire_logo.png' %}" alt="questionnaire logo"/>
        </div>
        <div class="step">
            <a>Étape 1</a>
        </div>
        <a class="next_step_text">
            Je crée mon compte puis je clique sur l'onglet "suivi" pour répondre
            à mon questionnaire de démarrage.
        </a>
    </div>

    <div class="step_home">
        <div class="image_step_home">
            <img src="{% static 'dietetic/img/weight_logo.png' %}" alt="weight logo"/>
        </div>
        <div class="step">
            <a>Étape 2</a>
        </div>
        <a class="next_step_text">
            Chaque semaine, j'indique mes résultats et découvre un nouveau
            challenge adapté à mon profile.
        </a>
    </div>
</div>

{% endblock %}
