{% extends 'dietetic/base.html' %}


{% block informations %}

<!-- Text of the home page -->
<div class="row">
    <div class="step_home">
        <div class="image_step_home">
        </div>
        <a class="first_step_text">
            Tu es en quête de perte de poids... et tes connaissances sur le sujet sont acquises ?
            </br>Seulement, les mettre en pratique, est une toute autre histoire...
            My Dietetic Challenge est donc fait pour toi !
        </a>
    </div>

    <div class="step_home">
        <div class="image_step_home">
        </div>
        <div class="step">
            <a>Étape 1</a>
        </div>
        <a class="next_step_text">Je crée mon compte.</a>
    </div>

    <div class="step_home">
        <div class="image_step_home">
        </div>
        <div class="step">
            <a>Étape 2</a>
        </div>
        <a class="next_step_text">
            Lorsque je suis connecté(e), je clique sur l'onglet "suivi"
            pour répondre à mon questionnaire de démarrage.
        </a>
    </div>

    <div class="step_home">
        <div class="image_step_home">
        </div>
        <div class="step">
            <a>Étape 3</a>
        </div>
        <a class="next_step_text">
            Chaque semaine, j'indique mes résultats et découvre un nouveau
            challenge adapté à mon profile.
        </a>
    </div>
</div>

{% endblock %}
