{% extends 'dietetic/base.html' %}


{% block informations %}

<!-- Food program -->
<div class="row">
    <div id="my_program" class="col-lg-offset-1 col-lg-10">
        <div class="row">
        <div id="text_program" class="col-lg-3">
            <h3 id="title-meal" class="center title_meal">Petit-déjeuner</h3><hr /></br>
            <p><strong>Féculent :</strong> pain, biscottes, céréales non sucrées, ...</p>
            <p>- éventuellement 10g de beurre</p>
            <p><strong>Produit laitier :</strong> 1 yaourt, 1 fromage blanc, 2 petits-suisse sans sucre, ...</p>
            <p><strong>Fruit :</strong> 1 pomme, 1 poire, 2 clémentines, 2 kiwis, ..., 1 compote sans sucre ajouté</p>
        </div>
        <div class="col-lg-3">
            <h3 class="center title_meal">Déjeuner et dîner</h3><hr /></br>
            <p><strong>Légumes :</strong> à volonté</p>
            <p><strong>Féculents :</strong> riz, pâtes, pain, pomme-de-terre, légumineuses, ... à supprimer le midi ou selon activité (supprimer le soir)</p>
            <p><strong>Protéines :</strong> 1 viande, 1 poisson, 2 oeufs ... </p>
        </div>
        <div class="col-lg-3" id="next_text">
            <p><strong>Matière grasse :</strong> 10 g d'huile, de beurre ou de crème fraîche </p>
            <p><strong>Produit laitier :</strong> 1 yaourt, 1 fromage blanc, 2 petits-suisse sans sucre, 30g de fromage...</p>
            <p><strong>Fruit :</strong> 1 pomme, 1 poire, 2 clémentines, 2 kiwis, ..., 1 compote sans sucre ajouté</p>
        </div>
        <div class="col-lg-3">
            <h3 class="center title_meal">Goûter</h3><hr /></br>
            <p><strong>Produit laitier :</strong> 1 yaourt, 1 fromage blanc, 2 petits-suisse sans sucre, ...</p>
            <p><strong>Fruit :</strong> 1 pomme, 1 poire, 2 clémentines, 2 kiwis, ..., 1 compote sans sucre ajouté</p>
        </div>
        </div>
    </div>
</div>

{% endblock %}
