
#header, #login_nav, #nav, div{
    border-top: 3px blue solid;
    border-bottom: 3px blue solid;
    border-left: 3px blue solid;
    border-right: 3px blue solid;
}

#header{
    height : 200px;
}

#informations{
    height : 430px;
}

#tabs{
    align-content : center;
    height : 50px;
}

#login_nav{
    margin-top : 30px ;
    min-height : 200px;
}

.col-lg-offset-10 {
    margin-left: 80%;
}

.col-lg-offset-3 {
    margin-left: 25%;
}

#footer {
    position:absolute;
    width:100%;
    height : 50px;
    bottom: 0px;
}
