/*  FONTS   */
@font-face {
    font-family: 'cantarellregular';
    src: url('../fonts/Cantarell-Regular-webfont.eot');
    src: url('../fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cantarell-Regular-webfont.woff') format('woff'),
         url('../fonts/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*  BOOTSTRAP   */
.col-lg-offset-11 {
    margin-left: 88%;
}
.col-lg-offset-10 {
    margin-left: 80%;
}
.col-lg-offset-9 {
    margin-left: 75%;
}
.col-lg-offset-8 {
    margin-left: 66%;
}
.col-lg-offset-1 {
    margin-left: 8%;
}
.col-lg-offset-2 {
    margin-left: 16%;
}
.col-lg-offset-4 {
    margin-left: 33%;
}


/*  HEADER + LOGIN NAV   */
#header {
    background-image : url("../img/background_header.jpg");
    background-size: 250vh;
    background-position : left left;
    height: 27vh;
    background-color : rgb(255, 255, 255);
}
#login_nav{
    margin-top : 2vh;
    position: relative;
    z-index: 2;
}
.tab{
        display:inline-block;
        margin-left:3px;
        margin-right:-10px;
        padding:3px;
        cursor:pointer;
}
.tab a{
        text-decoration:none;
}
.tab_n{
        text-align : center;
        background:rgb(162, 152, 141);
        color : rgb(0,0,0);
}
.tab_y{
        text-align : center;
        background:rgb(227, 216, 211);
        padding-bottom:4px;
        font-weight : bold ;
}
.contents{
        background-color:rgb(227, 216, 211);
        margin-top:-1px;
        margin-left:3px;
        padding:5px;
        border-radius: 0px 0px 5px 5px;
}
input{
    background:rgb(162, 152, 141);
    border-radius: 5px 0px 5px 0px;
}
.grey{
    color: grey;
}
.red{
    color: red;
}
.bold{
    font-weight : bold ;
}
.center{
    text-align:center;
}
h1{
        margin:0px;
        padding:0px;
}


/*  NAV  */
#button_nav{
    min-height : 7.5vh;
    background-color : rgb(255, 255, 255);
    box-shadow : 0px -1px 20px grey;
    position: relative;
    z-index: 1;
}
i {
    font-size : 2em;
}
#user, #poll, #home, #clipboard, #program{
    color : rgb(0, 0, 0);
}
#user:hover{
    color : rgb(52, 151, 49);
}
#poll:hover{
    color : rgb(222, 32, 101);
}
#home:hover{
    color : rgb(31, 148, 229);
}
#clipboard:hover{
    color : rgb(236, 131, 19);
}
#program:hover{
    color : rgb(190, 120, 50);
}


/*  SECTION   */
#informations{
    background-image : url("../img/background_section.jpg");
    background-size: 40vh;
    background-position : top;
    min-height : 58vh;
    box-shadow : 0px 5px 10px grey;
}
#home_text{
    font-size : 1.5em ;
    font-family : 'cantarellregular', Arial, "Arial black";
    color : rgb(0, 0, 0);
    text-align:center;
}
h2{
    text-decoration : underline;
}
#home_text{
    text-align : left;
    margin-top : 10vh;
}
#text_my_results, #graphic_my_results, #text_my_account, #text_program{
    min-height : 45vh;
}
#graphic{
    padding : 3vh;
    border-top: 2px black outset;
    border-bottom: 2px black outset;
    border-left: 2px black outset;
    border-right: 2px black outset;
    border-radius: 10px 10px 10px 10px;
}
#card{
    padding : 3vh;
    margin-top : 7vh;
    height : 45vh;
    border-bottom: 2px black outset;
    border-right: 2px black outset;
    border-radius: 10px 10px 10px 10px;
    box-shadow : 6px 6px 20px black;
    background-image : url("../img/front_face.jpg");
    background-repeat : no-repeat ;
    background-size: 45vh;
    background-position : top;
    overflow:auto;
}
#discussion_space, #text_my_results, #graphic_my_results, #my_account, #my_program{
    background-color : rgb(255, 255, 255);
    height : 47vh;
    padding : 3vh;
    margin-top : 5vh;
    border-bottom: 2px black outset;
    border-right: 2px black outset;
}
#text_my_results{
    padding: 5vh;
}
.input_number{
    padding: 0vh;
    background-color: white;
}
#discussion_space{
    overflow:auto;
    padding: 7vh;
}
.fa-user-times, .fa-key{
    font-size : 2em ;
    color : rgb(   0, 0, 0   );
    background-color : rgb(233,226,218);
    border-radius: 10px 10px 10px 10px;
    padding:1vh;
    border:none;
}
#submit_password{
    background-color : rgb(233,226,218);
    border:none;
}
.fa-user-times:hover{
    color : rgb( 173, 36, 9 );
}
.fa-key:hover{
    color : rgb(   20, 126, 62   );
}


/*  FOOTER   */
#footer{
    min-height : 7vh;
    background-color : rgb(227, 216, 211);
}
.logo_link{
    margin-top : 1.5vh;
}
.fa-github-square{
    margin-left : 2vh;
}
.fab{
    color : rgb(0,0,0);
}
.fab:hover{
    color : rgb(162, 152, 141);
}