/*  FONTS   */
@font-face {
    font-family: 'cantarellregular';
    src: url('../fonts/Cantarell-Regular-webfont.eot');
    src: url('../fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cantarell-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Cantarell-Regular-webfont.woff') format('woff'),
         url('../fonts/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*  BOOTSTRAP   */
.col-lg-offset-10 {
    margin-left: 80%;
}
.col-lg-offset-1 {
    margin-left: 8%;
}
.col-lg-offset-2 {
    margin-left: 16%;
}
.col-lg-offset-4 {
    margin-left: 33%;
}


/*  FOR THE TEST - TO DELETE   */
#header, #nav, #informations, #footer, #button_nav{
    border-top: 3px blue solid;
    border-bottom: 3px blue solid;
    border-left: 3px blue solid;
    border-right: 3px blue solid;
}


/*  HEADER + LOGIN NAV   */
#header {
  min-height: 20vh;
}
#login_nav{
    margin-top : 5vh;
}
.tab
{
        display:inline-block;
        margin-left:3px;
        margin-right:3px;
        padding:3px;
        border:1px solid black;
        cursor:pointer;
}
.tab a
{
        color:#000000;
        text-decoration:none;
}
.tab_n
{
        background:#bbbbbb;
        border-bottom:1px solid black;
}
.tab_y
{
        background:#dddddd;
        border-bottom:0px solid black;
        padding-bottom:4px;
}
.contents
{
        background-color:#dddddd;
        border:1px solid black;
        margin-top:-1px;
        padding:5px;
}
ul
{
        margin-top:0px;
        margin-bottom:0px;
        margin-left:-10px
}
h1
{
        margin:0px;
        padding:0px;
}


/*  NAV   */
#button_nav{
    align-content : center;
    min-height : 5vh;
}
.btn {
    border-left: 2px black outset;
    border-bottom: 2px black outset;
    border-top: 2px black outset;
    border-right: 2px black outset;
}


/*  SECTION   */
#informations{
    min-height : 65vh;
}
h1{
    font-family : 'cantarellregular', Arial, "Arial black";
}
h2{
    text-decoration : underline;
}
#home_text{
    text-align : center;
    margin-top : 10vh;
}
#text_my_results, #graphic_my_results, #text_my_account{
    min-height : 45vh;
}
#graphic{
    padding : 3vh;
    border-top: 2px black outset;
    border-bottom: 2px black outset;
    border-left: 2px black outset;
    border-right: 2px black outset;
    border-radius: 10px 10px 10px 10px;
}
#card{
    padding : 3vh;
    margin-top : 10vh;
    margin-bottom : 10vh;
    border-top: 2px black outset;
    border-bottom: 2px black outset;
    border-left: 2px black outset;
    border-right: 2px black outset;
    border-radius: 10px 10px 10px 10px;
    box-shadow : 6px 6px 20px black;
    background-image : url("../img/front_face.jpg");
    background-repeat : no-repeat ;
    background-size: 45vh;
    background-position : top;
}
#discussion_space, #my_results, #my_account{
    min-height : 50vh;
    padding : 3vh;
    margin-top : 7vh;
    margin-bottom : 5vh;
    border-top: 2px black outset;
    border-bottom: 2px black outset;
    border-left: 2px black outset;
    border-right: 2px black outset;
    border-radius: 10px 10px 10px 10px;
    box-shadow : 6px 6px 20px black;
}


/*  FOOTER   */
#footer {
    min-height : 7vh;
}
