<a href="{% url 'account:login' %}" ><div id="login" class="tab_n tab col-lg-6 col-md-6 col-sm-6 col-xs-6">&nbsp;Me connecter&nbsp;</div></a>
<div id="create_account" class="tab_y tab col-lg-6 col-md-6 col-sm-6 col-xs-6">&nbsp;Créer mon compte&nbsp;</div>
<div class="contents col-lg-12">
    <form action="{% url 'account:create_account' %}" method="post">{% csrf_token %}
        <br><p>Pseudo</p>
        <label for="{{ form_create_account.username.id_for_label }}">{{ form_create_account.username }}<br>
        <p>Adresse e-mail</p>
        <label for="{{ form_login.email.id_for_label }}">{{ form_login.email }}<br>
        <p>Mot de passe<em class="grey"><br>(min 8 caractères)</em></p>
        <label for="{{ form_create_account.password.id_for_label }}">{{ form_create_account.password }}
        <br><p id="error_message_create" class="red bold center col-lg-12">{{error_message}}</p>
        <input class="center" id="submitButton" type="submit" value="Valider"><br>
    </form>
</div>