<div class="tab_y tab col-lg-6">&nbsp;Me connecter&nbsp;</div>
<a href="{% url 'account:create_account' %}" ><div class="tab_n tab col-lg-6">&nbsp;Créer mon compte&nbsp;</div></a>
<div class="contents col-lg-12">
    {% if authenticated == "False" %}
    <form class="col-lg-offset-2 col-lg-8" action="{% url 'account:login' %}" method="post">{% csrf_token %}
        <br><p>Adresse e-mail</p>
        <label for="{{ form_login.email.id_for_label }}">{{ form_login.email }}<br>
        <p>Mot de passe</p>
        <label for="{{ form_login.password.id_for_label }}">{{ form_login.password }}
        <p class="red-bold">&nbsp;{{error_message}}&nbsp;</p>
        <input class="col-lg-offset-2 col-lg-8" type="submit" value="Valider"><br>
    </form>
    {% else %}
    {% if login_message %}
    <br><a>&nbsp;{{confirm_message}}&nbsp;</a><br>
    <br><a>&nbsp;{{login_message}}&nbsp;</a><br>
    {% endif %}
    <br><form action="{% url 'index' %}" method="post">{% csrf_token %}
        <input type="hidden" name="logout" value="True" />
        <input class="col-lg-offset-2 col-lg-8" type="submit" onclick="location.href='{% url 'index' %}'" value="Me déconnecter"/><br><br>
    </form>
    {% endif %}
</div>